
<h1>Bonjour jean-sébastien !</h1>

<p>
    Tu as reçu un email de {{ nom }} | {{ prenom}}
</p>

<em>je n'ai pas mis de sujet car il s'agit dans un 1er temps forcément d'une demande de création de site Web</em>

<p>Le contenu du message est : <br>
        {{ message }}
</p>
<p>
    Ce message est envoyé de ton site personnel
</p>